@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin: 16px;
  background: #f0ece2; 
  
}

h1 {
  font-size: 55px;
}

h2 {
  margin: 0 0 8px;
  font-size: 44px;
}


h1, footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 16px 0;
  font-size: 14px;
}

p a:hover {
  text-decoration: underline;
}

select {
  display: clock;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  opacity: 0.7;
  font-size: 18px;
  margin: 0 0 24px;
}
.container {
  max-width: 600px;
  margin: 16px auto;
  background: white;
  padding: 60px;
  box-shadow: 0px 5px 15px 0px rgba(100, 100, 111, 0.2)
}


.city {
  border-bottom: 2px dashed #e2e6f0;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.city:last-child {
  border: none;
}
.date {
  opacity: 0.8;
}

.time {
  font-size: 50px;
  font-weight: 700;
  vertical-align: middle;
}

.time small {
  font-size: 18px;
}


footer {
  font-size: 14px;
}

footer a:hover {
  color: #8e9ec5 ;
}